main {
    display: flex;
    flex-wrap: wrap;
}
header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}
footer {
    display: flex;
    width: 100vw;
    justify-content: center;
}
section {
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;
}
nav {
    display: flex;
    width: 80vw;
}
nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
nav ul li {
    list-style: none;
}
article {
    display: flex;
    justify-content: center;
    width: 380vw; 
    height: 180px;
}
.articles{
    display: flex;
    width: 100vw;
}